header {
    background-color: rgb(145, 85, 85);
    margin: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    color: #fff;
}

li {
    display: inline-block;
    margin: 1rem;

}